/* src/components/EditorCanvas.css */
.canvas-container {
  width: 100%;
  height: 100%;
  background-color: var(--surface-bg-tertiary);
  padding: var(--spacing-8);
  overflow-y: auto;
}

.form-card {
  background-color: var(--surface-bg-primary);
  border-radius: var(--spacing-3);
  padding: var(--spacing-6);
  max-width: 800px;
  margin: 0 auto;
  box-shadow: var(--surface-shadow-lg);
  transition: background-color 0.2s ease, border-color 0.2s ease;
  border: 1px solid transparent;
}
.form-card h2 {
  font-size: 1.5em;
  font-weight: 600;
  margin: 0 0 var(--spacing-6) 0;
  color: var(--surface-fg-primary);
}

.canvas-container.is-dragging .form-card {
  background-color: var(--primitives-theme-25);
  border-color: var(--primitives-theme-200);
}

.canvas-droppable-area {
  min-height: 400px;
}

.form-component-wrapper {
  padding: var(--spacing-3);
  margin: 0;
  border: 1px solid transparent;
  border-radius: var(--spacing-2);
  position: relative;
  touch-action: none;
  transition: background-color 0.2s, border-color 0.2s, padding 0.2s;
  cursor: grab;
}

.form-component-wrapper:hover:not(.selected) {
  background-color: var(--surface-bg-secondary_hover);
}

.form-component-wrapper.selected {
  border: 2px solid var(--control-border-selected);
  background-color: var(--control-bg-selected);
  padding: calc(var(--spacing-3) - 1px);
}

.form-component-wrapper.show-drop-indicator::before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: var(--control-border-primary);
  border-radius: 1px;
  z-index: 1;
}


.bottom-drop-zone {
  position: relative;
  height: 20px;
}
.bottom-drop-zone.show-drop-indicator::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: var(--control-border-primary);
  border-radius: 1px;
}