/* src/index.css */

@layer base, components;

/* 1. Foundational Design Tokens */
@import './primitives.css';
@import './utility.css';
@import './semantics.css';

/* 2. Global utility styles */
@import './animations.css' layer(base);
@import './scrollbars.css' layer(base);

/* 3. Global Styles for HTML elements and common components */
@import './forms.css' layer(base);
@import './buttons.css' layer(base);
@import './menu.css' layer(base);
@import './tabs.css' layer(base);
@import './components/navigator.css' layer(base);
@import './appearance.css' layer(components);

/* 4. Radix Primitive Themes */
@import './modal.css' layer(components);
@import './popover.css' layer(components);
@import './toggle-group.css' layer(components);
@import './accordion.css' layer(components);
@import './toggle.css' layer(components);
@import './tooltip.css' layer(components);
@import './toast.css' layer(components);


:root {
  --font-family-sans: 'Inter', sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family-sans);
  background-color: var(--surface-bg-secondary);
  color: var(--surface-fg-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.material-symbols-outlined, .material-symbols-rounded {
  font-family: 'Material Symbols Rounded', sans-serif;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 20;
  vertical-align: middle;
  font-size: 20px;
}

.material-symbols-outlined.outlined {
    font-family: 'Material Symbols Outlined', sans-serif;
}


.resizer {
  width: 1px;
  cursor: col-resize;
  background-color: var(--surface-border-secondary);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  transition: background-color 0.2s, width 0.2s ease, right 0.2s ease;
}

.resizer:hover {
  background-color: var(--control-border-primary);
  width: 4px;
  right: -2px;
}